<slide class="thank-you-slide segue" id="{{ slide.id }}">
  <footer>
    <div style="position: absolute; left: 50px; top: 50px; z-index:100">
        <img src = "assets/img/uham_logo.png" height="67" width="200">
    </div>
  </footer>
  <article>
    <h1 style="padding-top: 120px;">Thank You</h1>
    <p>
      For more information contact me:<a href="saskia.otto@uni-hamburg.de">
      saskia.otto@uni-hamburg.de</a>
      </p>
      <p data-config-contact="">
      <a href="http://www.researchgate.net/profile/Saskia_Otto"
          style="color:#F48C0A; font-weight: bold;">
        http://www.researchgate.net/profile/Saskia_Otto</a><br>
      <a href="http://www.github.com/saskiaotto"
          style="color: #F48C0A; font-weight: bold;">
        http://www.github.com/saskiaotto</a>
    </p>
    <p style="font-size: 15px; position: absolute; left: 125px; top: 480px; z-index:100">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
      <img alt="Creative Commons License" style="border-width:0"
        src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br>
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        Creative Commons Attribution-ShareAlike 4.0 International License </a>except for the <br>
        borrowed and mentioned with proper <i>source:</i> statements. <br>
        <b>Image on title and end slide:</b> Section of an infrared satallite image showing the Larsen C
        ice shelf on the Antarctic <br>
        Peninsula - USGS/NASA Landsat: <a href="https://landsat.visibleearth.nasa.gov/view.php?id=90481">
        A Crack of Light in the Polar Dark</a>, Landsat 8 - TIRS, June 17, 2017 <br>
        (under CC0 license)
    </p>
  </article>
</slide>
